* {
    border: none;
    border-radius: 0;
    font-family:
        CaskaydiaCove Nerd Font Propo,
        monospace;
    font-size: 16px;
    min-height: 0;
}
.small * {
    font-size: 13px;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0;
}

#workspaces {
    background-color: #282a36;
    border-radius: 20px;
    padding: 0 15px;
}

#workspaces button {
    margin: 0 5px;
    padding: 0;
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    border-bottom: 2px solid #51afef;
    color: #51afef;
}

#workspaces button.urgent {
    color: #ff5555;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    border-bottom: 2px solid #51afef;
}

#window {
    background-color: #282a36;
    border-radius: 20px;
    padding: 0 20px;
    margin: 0 10px 0 0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 20px;
    margin: 0 10px;
    background-color: #282a36;
    color: #ffffff;
    border-radius: 20px;
}

#clock {
}

#battery {
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
    margin: 0 0 0 10px;
    padding: 0 10px 0 20px;
    border-radius: 20px 0 0 20px;
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#custom-media {
}

.custom-spotify {
}

.custom-vlc {
}

#temperature {
}

#temperature.critical {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
}
